/* You can add global styles to this file, and also import other style files */
*  {
	padding: 0%;
	margin: 0;
	border: 0;
	box-sizing: border-box;
 }

body {
	background: rgb(9,9,121);
	background: linear-gradient(90deg, rgba(9,9,121,1) 11%, rgba(78,80,148,1) 50%, rgba(9,9,121,1) 89%);

}

